html,body{
	width:100%;
	height:100%;
}
.indie-font{
	font-family: 'Indie Flower', cursive !important;
	font-size:16px;
}
a{
	text-decoration:none;
	color:black;
}
div p{
	font-size:40px;
	text-align:center;
	margin:2% 0;
}
.content:nth-child(even)
{
	background-color:tomato;
	color:white;
}
.content:nth-child(odd)
{
	background-color:#BF6EE0;
	color:white;
}
header{
	width:100%;
	background-color: #3D2F5B;
	color:white;
	padding:2%;
}
header h3{
	display:inline-block;	

}
header button{
	float:right;
	display:inline-block;
	padding:2%;
	background-color:white;
	border:none;
	margin:0 1%;
}